[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
#django-ninja = "==0.20.0"
#django-ninja-extra = "==0.18.4"
#django-ninja-jwt = "==5.2.2"
#six = "==1.16.0"
#uvicorn = "==0.20.0"
#psycopg2 = "==2.9.2"
#typing-extensions = "==4.4.0"
#"backports.zoneinfo" = "==0.2.1"
#django-cors-headers = "*"
django-ninja = "==0.20.0"
django-ninja-extra = "==0.18.4"
django-ninja-jwt = "==5.2.2"
uvicorn = "==0.20.0"
psycopg2 = "==2.9.5"
typing-extensions = "==4.4.0"
django-cors-headers = "==3.13.0"
six = "==1.16.0"
django-snitch = "==2.3.0"
channels = {extras = ["daphne"], version = "*"}

[requires]
python_version = "3.8"
